---
layout: default
---

<script type="text/javascript">
// If you're seeing this, I'm letting you know that you're not supposed to be here.
// I put a bunch of commands in here limiting certain functionalities of the website.
// So if you noticed that you can't right-click, select stuff, and copy text, that has a function.
// Namely preventing YOU from copying my code and cheating.
// Now if you're sincere, now is my warning. You're not supposed to be in an inspect element window, 
// modifying the website's code as you please.
// And if you're extra sincere, you can even email me at leonardalwright@gmail.com
// Tell me how you opened this. Because I need to disable that functionality as a safeguard.

// But if you're malicious and will cheat using my code, things will get bad quickly.
// Life with an academic dishonesty infraction is not fun.
// And unlike some people who wouldn't have a way to defend themselves, I do.
// It's this code. Unlike most people, I went out of my way to stop cheaters.
// This code is evidence of my sincerity.
// Which will make your intentions undeniable if you copy my code. SO DON'T.
  document.oncontextmenu = new Function("return false");
  document.oncut = new Function("return false");
  document.oncopy = new Function("return false");
  document.onafterprint = new Function("return false");
  document.onbeforeprint = new Function("return false");
document.addEventListener('contextmenu', (e) => e.preventDefault());
document.addEventListener('copy', (e) => e.preventDefault());
document.addEventListener('cut', (e) => e.preventDefault());
document.addEventListener('afterprint', (e) => e.preventDefault());
document.addEventListener('beforeprint', (e) => e.preventDefault());

function ctrlShiftKey(e, keyCode) {
  return e.ctrlKey && e.shiftKey && e.keyCode === keyCode.charCodeAt(0);
}

document.onkeydown = (e) => {
  if (
    event.keyCode === 123 ||
    ctrlShiftKey(e, 'I') ||
    ctrlShiftKey(e, 'J') ||
    ctrlShiftKey(e, 'C') ||
    (e.ctrlKey && e.keyCode === 'U'.charCodeAt(0))
    (e.ctrlKey && e.keyCode === 'S'.charCodeAt(0))
    (e.ctrlKey && e.keyCode === 'C'.charCodeAt(0))
    (e.ctrlKey && e.keyCode === 'X'.charCodeAt(0))
    (e.ctrlKey && e.keyCode === 'P'.charCodeAt(0))
  )
    return false;
};
</script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" onmousedown="return false" onselectstart="return false" onkeydown="return false">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- if page.description -%}
      {%- if site.html_escape.description -%}
        <p class="page-description">{{ page.description | escape }}</p>
      {%- else -%}
        <p class="page-description">{{ page.description }}</p>
      {%- endif -%}
    {%- endif -%}
    <p class="post-meta post-meta-title">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif %}
       • {% include reading_time.html -%}
    </p>

    {% if page.categories.size > 0 and site.show_tags %}
      <p class="category-tags"><i class="fas fa-tags category-tags-icon"></i></i> 
      {% for category in  page.categories  %}
        <a class="category-tags-link" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
      </p>
    {% endif %}

    {% if page.layout == 'notebook' %}
      {% if page.badges or page.badges == nil %}
        <div class="pb-5 d-flex flex-justify-center">
          {% unless page.hide_github_badge or site.default_badges.github != true %}{% include notebook_github_link.html %}{% endunless %}
          {% unless page.hide_binder_badge or site.default_badges.binder != true  %}{% include notebook_binder_link.html %}{% endunless %}
          {% unless page.hide_colab_badge or site.default_badges.colab != true %}{% include notebook_colab_link.html %}{% endunless %}
          {% unless page.hide_deepnote_badge or site.default_badges.deepnote != true %}{% include notebook_deepnote_link.html %}{% endunless %}
        </div>
      {% endif -%}
    {% endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content | toc  }}
  </div>
  {%- if page.comments -%}
    {%- include utterances.html -%}
  {%- endif -%}
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
